<html>
<head>
    <title>Add Customer</title>
</head>
<body>
    <form method="POST" action="adding_student">
        {% csrf_token %}
        Fist Name:<input type="text" name="fname" placeholder="Enter your first name"><br>
        Last Name:<input type="text" name="lname" placeholder="Enter your first name"><br>
        Street:<input type="text" name="city" placeholder="Enter City"><br>
        City:<input type="text" name="city" placeholder="Enter City"><br>
        State:<input type="text" name="state" placeholder="Enter state"><br>
        Course:
        {% for course in courses %}
        <input type="checkbox" name="vehicle1" value="{{course.name}}">
         <label>{{course.name}}</label>
            {% endfor %}
        <br><input type="submit">
        
    </form>
</body>
</html>